SOURCE_URL=http://localhost:3030/sparql
SOURCE_USER=your_username_here
SOURCE_PASS=your_password_here
TARGET_URL=http://localhost:3030/update
TRAGET_USER=your_username_here
TARGET_PASS=your_password_here